<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <hl style="...">用户输入</hl>
    <form action="/index/" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="提交">
    </form>
    <hr/>
    <h1 style="...">用户展示</h1>
    <table border="1">
        <thead>
            <th>用户名</th>
            <th>密码</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{line.user}}</td>
                    <td>{{line.pwd}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <img class="wx" src="/static/images/1.jpg" alt="chucuo" />
    <script src = "static/js/jquery-1.12.4.js"></script>
</body>
</html>