{% extends "commodity/base.html" %}
 
{% block content %}
<h2 class="post-title">{{ post_li.0.category }}</h2>
<div class="posts" >
    {% for post in post_li %}
        <section class="post">
                            <div style="width:100%;display: inline-block;margin:0;padding:0;top:0;">
                <div class="post-description" style="float:left">
                                <a href="{% url 'blog_detail' id=post.id %}"><img id='img_title"+{{forloop.counter}}+"' src="?" alt="加载中"/></a>
                <script type="text/javascript">
                                              var str='{{ post.content|safe }}'
	                                          var req = /src=\"(.*?)\"/g
	                                          var s = str.match(req)
	                                          var req_l = /\"(.*?)\"/g
	                                          var s_l = s[0].match(req_l)
	                                          var sl = String(s_l).replace(/\"/g,"");
	                                          document.getElementById('img_title"+{{forloop.counter}}+"').src = sl;
                                 </script>
                                <div class="title" align="center">
                                    <a style="color:black;" href="{% url 'blog_detail' id=post.id %}">{{ post.title }}</a>
                                    <a class="post-category post-category-js" href="{% url 'blog_category' category=post.category %}">{{ post.category }}</a>
                                </div>
                 </div>

            
                            </div>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
<style>
    .post-description{width:100%;height:auto;background-color: #ffecec;border:10px solid #ffecec;padding:0;}
    .post-description img {width:100%;margin:10 auto;}
</style>
{% endblock %}